<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h5>Contact Us</h5>
            <p><i class="fas fa-phone"></i> +91 3648646343</p>
            <p><i class="fas fa-envelope"></i> support@careerpath.com</p>
        </div>

        <div class="footer-section">
            <h5>Quick Links</h5>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/jobs">Job Listings</a></li>
                <li><a href="/chat">Career Chat</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>Follow Us</h5>
            <div class="social-links">
                <a href="https://github.com" target="_blank">
                    <img src="/static/images/social/github.svg" alt="GitHub">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="/static/images/social/linkedin.svg" alt="LinkedIn">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="/static/images/social/twitter.svg" alt="Twitter">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="/static/images/social/instagram.svg" alt="Instagram">
                </a>
                <a href="https://youtube.com" target="_blank">
                    <img src="/static/images/social/youtube.svg" alt="YouTube">
                </a>
            </div>
        </div>
    </div>
</footer>